auth_enabled: false

server:
  http_listen_port: 3100

memberlist:
  join_members: ["loki:7946"]

common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: memberlist
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: loki_index_
        period: 24h

limits_config:
  volume_enabled: true
  allow_structured_metadata: true
  retention_period: 168h

ruler:
  storage:
    type: local
    local:
      directory: /loki/rules

compactor:
  working_directory: /loki/compactor
  delete_request_store: filesystem
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 2
